.section {
  background-color: #000;
  background-image: url(../../public/images/digital-instruments-mobile.jpg);
  background-position: center;
  background-size: cover;
  padding: 7rem 1.5rem;
  margin-top: 75px;
  scroll-snap-align: start;
}

.container {
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
}

.image {
  margin-bottom: 1rem;
  max-width: 100%;
}

.sfzLogo {
  text-align: center;
  vertical-align: text-top;
  width: 46px;
}

.section p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25em;
}

@media (min-width: 48rem) {
  .section {
    background-image: url(../../public/images/digital-instruments.jpg);
    margin-top: 0;
    padding: 15rem 1.5rem;
  }

  .image {
    display: none;
  }

  .section p {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .section .sfzLogo {
    width: 66px;
  }

}
