.item {
  background-color: #fff;
  border-radius: 1.25rem;
  color: #000;
  display: block;
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow .25s ease-out;
}

.item:hover {
  box-shadow: 0 0 2rem #aaa;
}

.itemImage img {
  display: block;
  height: auto;
  width: 100%;
}

.itemDetails {
  padding: 1.5rem;
  word-wrap: break-word;
}

.itemName {
  margin: 0;
}

.itemLink {
  color: #1A4BAA;
  text-decoration: underline;
}

.itemView {
  margin-bottom: 0;
}

@media (min-width: 48rem) {
  .item {
    margin-bottom: 0;
  }
  .itemDetails {
    padding: 2rem;
  }
}
