.section {
  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
  padding: 3rem 1.5rem;
  scroll-snap-align: start;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: -2px;
  margin-bottom: 2rem;
}

.logo {
  filter: invert(100%);
  vertical-align: text-top;
  width: 73px;
}

.diagram {
  max-width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 3rem;
  padding: 1.5rem;
  text-align: left;
}

.number {
  font-size: 4rem;
  font-weight: 600;
  margin-right: 1.5rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media (min-width: 60rem) {
  .table {
    display: flex;
  }
  .column:first-child {
    flex-basis: 40%;
    margin-right: 3rem;
  }
  .column:last-child {
    flex-basis: 60%;
  }
}
