.section {
  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
  padding: 2rem 1.5rem;
  scroll-snap-align: start;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.logo {
  filter: invert(100%);
  vertical-align: text-top;
  width: 50px;
}

.diagram img {
  max-width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  text-align: left;
}

.number {
  font-size: 2rem;
  font-weight: 600;
  margin: .3rem 1.25rem 0 0;
}

.description {
  font-size: 1.15rem;
  margin-bottom: 0;
}

@media (min-width: 60rem) {
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .logo {
    width: 73px;
  }
  .panel {
    padding: 2rem;
  }
  .number {
    font-size: 3rem;
    margin: .5rem 1.75rem 0 0;
  }
  .description {
    font-size: 1.5rem;
    line-height: 1.25em;
    margin-bottom: 0;
  }
  .row {
    align-items: flex-start;
    display: flex;
  }
  .panel {
    flex-basis: 40%;
    margin-right: 3rem;
  }
  .diagram {
    flex-basis: 60%;
  }
}
