.subnavsection {
  background-color: #fff;
  border-radius: 1.25rem;
  height: 1rem;
  margin-bottom: .5rem;
  overflow: hidden;
  padding: 1.5rem;
  transition: height .25s ease-out;
}

.subnavsectionActive {
  height: auto;
}

.subnav h6 {
  cursor: pointer;
  margin-bottom: .75rem;
}

.subnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.navItem:hover {
  text-decoration: underline;
}

.navItemActive {
  color: #1A4BAA;
}
