.section {
  padding: 1.5rem;
  margin-top: 80px;
  scroll-snap-align: start;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}

.sidebar,
.content {
  overflow: hidden;
}

.content {
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 1.5rem;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 2rem;
}

.content p {
  margin-bottom: 1em;
}

.content p:last-child {
  margin-bottom: 0;
}

.content .code,
.content .pre,
.content code,
.content pre {
  background-color: #f4f4f4;
  border-radius: .5rem;
  color: #333;
  font-size: 14px;
}

.content .pre,
.content pre {
  line-height: 1.25rem;
  overflow: auto;
  padding: 1rem 1.5rem;
}

@media (min-width: 48rem) {
  .container {
    align-items: flex-start;
    display: flex;
  }

  .sidebar {
    flex-basis: 30%;
    margin-right: 2rem;
  }

  .content {
    flex-basis: 70%;
    padding: 3rem;
  }
}
