html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  /* scroll-snap-type: y proximity; */
}

body {
  background-color: #f4f4f4;
  color: #000;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 0.5rem 0;
}

h1 { font-size: 2em; }    /* 16px x 2     = 32px */
h2 { font-size: 1.75em; } /* 16px x 1.75  = 28px */
h3 { font-size: 1.5em; }  /* 16px x 1.5   = 24px */
h4 { font-size: 1.25em; } /* 16px x 1.25  = 20px */
h5 { font-size: 1.125em; }/* 16px x 1.125 = 18px */
h6 { font-size: 1em; }    /* 16px x 1     = 16px */

a {
  color: #1A4BAA;
}

@media (min-width: 48rem) {
  body {
    font-size: 18px;
  }
}

.bg-transparent {
  background-color: transparent !important;
}
