.section {
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  scroll-snap-align: start;
}

.sectionImage {
  margin-bottom: 1rem;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.innerCol iframe {
  max-width: 100%;
}

.sectionInstruments {
  background-color: #272525;
}

.sectionInstruments .sfzLogo {
  text-align: center;
  vertical-align: bottom;
  width: 52px;
}

.sectionInstruments p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.containerInstruments {
  max-width: 40rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .containerCols {
    display: flex;
    justify-content: space-between;
  }

  .section {
    padding-bottom: 15rem;
    padding-top: 15rem;
  }

  .inner {
    max-width: 360px;
  }

  .innerCol {
    max-width: none;
  }

  .sectionInstruments {
    background-image: url(../public/images/digital-instruments.jpg);
  }

  .sectionImage {
    display: none;
  }

  .sectionInstruments p {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -2px;
  }

  .sectionInstruments .sfzLogo {
    width: 73px;
  }

}
