.section {
  margin-top: 80px;
}

.item {
  background-color: #fff;
}

.itemImage {
  display: block;
  min-height: 15rem;
  position: relative;
}

.itemImageTag {
  object-fit: cover;
}

.itemDetails {
  padding: 2rem 1.5rem;
  word-wrap: break-word;
}

.itemName {
  margin: 0;
}

.attributes {
  padding: 0;
}

.attribute {
  list-style: none;
  margin: 0 0 .75rem;
  padding: 0;
}

.icon {
  margin-right: .75rem;
  vertical-align: middle;
}

@media (min-width: 48rem) {
  .item {
    display: flex;
  }
  .itemImage {
    width: 40%;
  }
  .itemDetails {
    padding: 4rem 3rem;
    width: 60%;
  }
}
