.section {
  padding: 1.5rem;
  margin-top: 75px;
  scroll-snap-align: start;
}

.header {
  margin-bottom: 1rem;
}

.count {
  color: #666;
  font-size: 1rem;
}

.filters {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.filterTitle {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}

@media (min-width: 48rem) {
  .section {
    margin-top: 80px;
  }

  .count {
    font-size: 1.4rem;
  }

  .list {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .filters form:nth-of-type(1) {
    width: 250px;
  }
  
  .filters form:nth-of-type(2) {
    width: 280px;
  }
  
  .filters form:nth-of-type(3) {
    width: 180px;
  }
  
  .filters form:nth-of-type(4) {
    width: 170px;
  }
}

@media (min-width: 64rem) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 120rem) {
  .list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 160rem) {
  .list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
